{% extends 'base.html.twig' %}

{% block title %}Card Search{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset("/css/cardList.css") }}">
<link rel="stylesheet" href="{{ asset("/css/sets.css") }}">
{% endblock %}

{% block javascripts %}
<script defer src="{{ asset("/js/cardList.js") }}"></script>
<script defer src="{{ asset("/js/sets.js") }}"></script>
{% endblock %}

{% block body %}
<header hidden>
    <form action="{{ path('cards') }}" id="searchForm" method="POST">
        <input type="text" name="cardname" placeholder="Card's name" value="{{ searchFilters.cardname }}">

        <ul id="setContainer">
            <li>
                <input class="categoryInput" type="checkbox">
                <label class="category">Set list</label>
                <ul class="nested" id="setContainerFirstSub">
                    {% for settype, years in searcheableFields.setTree %}
                        <li>
                            <input class="categoryInput" type="checkbox">
                            <label class="category">{{ settype }}</label>
                            <ul class="nested">
                            {% for year, sets in years %}
                                <li>
                                    <input class="categoryInput" type="checkbox">
                                    <label class="category">{{ year }}</label>
                                    <ul class="nested">
                                        {% for setofCard in sets %}
                                            <li>
                                                <input
                                                    type="checkbox"
                                                    name="setcode[]"
                                                    value="{{ setofCard.setCode }}"
                                                    {% if setofCard.setCode in searchFilters.setcode %} checked {% endif %}
                                                >
                                                <label for="setcode[]">{{ setofCard.setName }}</label>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
        
        <div class="selectnoscroll">
            <select name="rarity[]" id="rarity" multiple size="3">
                {% for rarity in searcheableFields.rarities %}
                    <option
                        value="{{ rarity.name }}"
                        {% if rarity.name in searchFilters.rarity %} selected {% endif %}
                    >
                        {{ rarity.name }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="selectnoscroll">
            <select name="color[]" id="color" multiple size="3">
                {% for color in searcheableFields.colors %}
                    {% if color == "" %}
                        <option
                            class="colorSelectorIcon"
                            value="{{ color }}"
                            title="No color identity"
                            {% if color in searchFilters.color %} selected {% endif %}
                        >
                        </option>
                    {% else %}
                        <option
                            class="colorSelectorIcon"
                            value="{{ color.code }}"
                            title="{{ color.name }}"
                            style="background-image:url({{ asset("#{symbols_icon_public}/#{color.icon_local}") }});"
                            {% if color.code in searchFilters.color %} selected {% endif %}
                        >
                        </option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <input type="submit" value="Search">
        <input type="reset" value="Delete values" id="delform">
    </form>
</header>

<button id="toogleSearch">Toogle search menu</button>

<main class="resultList">
    {% for header in headers %}
        <span class="cell headerResult">{{ header }}</span>
    {% endfor %}
    {% for card in cards %}

        <a class="cell" href="{{ path("card", {"card_id": card.getIdScryfall() }) }}">{{ card.getName() }}</a>
        <!-- {% for face in card.getFaces() %}
        <div>{{ face.getName() }}</div>
        {% endfor %} -->

        {% if card.getSet().getIconLocal() is null %}
            <span class="cell">{{ card.getSet().getName() }}</span>
        {% else %}
            <span class="cell">
                <img
                    class="icon"
                    title="{{ card.getSet().getName() }} ({{ card.getSet().getType().getName() }}, {{ card.getSet().getYear() }})"
                    alt="{{ card.getSet().getName() }}"
                    src="{{ asset("#{sets_icons_public}/#{card.getSet().getIconLocal()}") }}"
                >
            </span>
        {% endif %}

        <span class="cell">{{ card.getRarity().getName()|title }}</span>

        <span class="cell">
            {% for color in card.getColorIdentity() %}
                    <img
                        class="icon"
                        title="{{ color.getName() }}"
                        alt="{{ color.getName() }}"
                        src="{{ asset("#{symbols_icon_public}/#{color.getSymbols()[0].getIconLocal()}") }}"
                    >
            {% endfor %}
        </span>

    {% endfor %}
</main>

<footer>
    <div id="pageNavigation" title="{{ pageInfos.resultCardCount }} cards found, the current page contains {{ pageInfos.pageCardCount }} cards">
        {% for page in pageInfos.pagesNavigation %}
            <a
                class="pageLink"
                {% if page != pageInfos.pageNumber %} href="{{ path('cards', {'limit': pageInfos.limit, 'pageNumber': page}) }}" {% endif %}
            >
            {{ page }}
            </a>
        {% endfor %}

        <form action="{{ path('cards') }}" method="GET" id="limitForm">
            <span>display
                <select name="limit" id="limit" onchange="this.form.submit()">
                    {% for limitAvailable in pageInfos.limitsAvailable %}
                        <option value="{{ limitAvailable }}" {% if limitAvailable == pageInfos.limit %}selected{% endif %}>{{ limitAvailable }}</option>
                    {% endfor %}
                </select>
                cards per page
            </span>
        </form>

    </div>
</footer>
{% endblock %}
